* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #34495e
}

.game {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 0 20px;
}

.round-teller {
    align-self: center;
    background-color: #2e3440;
    color: white;
    font-weight: 600;
    width: 40%;
    padding: 20px;
    line-height: 30px;
    border-radius: 20px;
}

.rectangle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    height: 30px;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.rectangle {
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 3px;
}

.selection-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10px;
}

.selection {
    cursor: pointer;
    border-radius: 50%;
    height: fit-content;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 108px;
    padding: 20px;
    background-color: #2c3e50;
    border-radius: 20px;
    border: 3px solid #2c3e50;
    transition: 0.3s ease-in-out;
}

label:hover {
    background-color: #1a2f43;
    border: 3px solid #1a2f43;
}

.selection-img {
    height: 100%;
    width: 100%;
}

.radio {
    display: none;
}

.radio:disabled ~ label:hover {
    background-color: #2c3e50;
    border: 3px solid #2c3e50;
}

.control {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

.control-btn {
    height: 50px;
    width: 150px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #dee4e9;
    color: #1a2f43;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.control-btn:hover {
    background-color: #909aa8;
}

.control-btn:active {
    background-color: #607e96;
}

.control-btn:disabled {
    background-color: #9eafbf;
    color: #bec9d4;
}

button:disabled, input:disabled ~ label {
    cursor: no-drop;
}

/* .history {

} */

h2 {
    color: white;
}

.header-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.card-container {
    margin: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    padding: 20px;
    background-color: #2e3440;
    border-radius: 20px;
    max-width: none;
    min-width: 201px;
    line-height: 20px;
    flex-grow: 1;
    flex-basis: 201px;
}

.card-header-container {
    display: flex;
    justify-content: space-between;
}

h3 {
    line-height: 30px;
}

.delBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

@media (max-width: 1200px) {
    .round-teller {
        min-width: 480px;
    }
}

@media (max-width: 776px) {
    .rectangle-container {
        flex-wrap: wrap;
        padding: 0 20px;
        height: auto;
        min-height: 80px;
    }   
    .round-teller {
        font-size: 12px;
        min-width: 380px;
    }
    label {
        font-size: 72px;
    }
    .control-btn {
        height: fit-content;
        padding: 10px 20px;
        font-size: 14px;
        min-width: 120px;
    } 
}

@media (max-width: 600px) {
    label {
        font-size: 56px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .rectangle {
        height: 20px;
        width: 20px;
    }
    .round-teller {
        padding: 10px;
        border-radius: 10px;
    }
    .control {
        flex-wrap: wrap;
        padding: 0 20px
    }
    .control-btn {
        height: 45px;
        flex: 1 1 108px;
    }
    label {
        font-size: 56px;
    }
}

@media (max-width: 400px) {
    .round-teller {
        min-width: auto;
        width: 80%;
        min-height: 190px;
    }
    label {
        font-size: 56px;
    }
}

@media (max-width: 376px) {
    label {
        font-size: 36px;
    }
}